{% extends 'base.html.twig' %}

{% block body %}
    <h1>Edit Profile</h1>
    {{ form_start(profileForm) }}
        {{ form_row(profileForm.username) }}
        {{ form_row(profileForm.profile_picture) }}
        {{ form_row(profileForm.bio) }}
        <button type="submit">Save changes</button>
    {{ form_end(profileForm) }}
{% endblock %}
