{% extends 'base.html.twig' %}

{% block title %}Collection{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
{% endblock %}

{% block body %}
<div class="container mx-auto p-6">
    <h1 class="text-3xl font-bold mb-6">Ma Collection de Jeux Vidéo</h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        {% for game in games %}
        <div class="bg-white shadow-md rounded-lg overflow-hidden">
           
            <div class="p-4">
                <h2 class="text-xl font-bold">Titre{{ game.title }}</h2>
                <p class="text-gray-600">Platform{{ game.platform }}</p>
                <p class="text-gray-800 mt-2">Genre{{ game.genre }}</p>
                <p class="text-gray-600 mt-2">Developer{{ game.developer }}</p>
                <p class="text-gray-600 mt-2">Release date{{ game.release_date|date("d/m/Y") }}</p>
            </div>
        </div>
        {% else %}
        <p>Aucun jeu dans votre collection pour le moment.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
